body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfcdcf;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    background-color: #dec3c6;
    transition: background 0.2s linear;
    padding: 22px;
}

.startpage {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 9px;
    letter-spacing: 1.3px;
    position: relative;
    right: -20px;

    &:hover {
        color: #b48291;
        transition: .2s;
    }
}

.aboutme {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 9px;
    letter-spacing: 1.3px;
    position: relative;
    right: -40px;

    &:hover {
        color: #b48291;
        transition: .2s;
    }
}

.projects {
    color: black;
    text-decoration: none;
    font-weight: 800;
    font-size: 9px;
    letter-spacing: 1.3px;
    position: relative;

    right: -60px;

    &:hover {
        color: #b48291;
        transition: .2s;
    }
}

.cv {
  color: black;
  text-decoration: none;
  font-weight: 800;
  font-size: 9px;
  letter-spacing: 1.3px;
  position: relative;
  right: -80px;

  &:hover {
      color: #b48291;
      transition: .2s;
  }
}

nav {
    display: flex;
}

section {
    padding: 2em;
}

.social-links a{
    display: inline-block;
    justify-content: center;
    flex-direction: row;
    padding: 4px;
  }

  .fa-twitter { 
    color: black; 
    &:hover {
      color: #b48291;
      transition: .3s;
    }
  }

  .fa-github {
    color: black;
    &:hover {
      color: #b48291;
      transition: .3s;
    }
  }

  .fa-discord {
    color: black;
    &:hover {
      color: #b48291;
      transition: .3s;
    }
  }

  .fa-instagram {
   color: black;
    &:hover {
      color: #b48291;
      transition: .3s;
    }
  }

  .social-links {
    position: absolute;
    left: 1700px;
    bottom: 910px;
    letter-spacing: 2.0px;
  }

  .footer {
    background-color: #dec3c6;
    padding: 30px;
    position: relative;
    top: 784px;
  }
  
  .footer p {
    font-family: 'Nunito Sans';
  }
